    $accent-color: #2196F3;
    $primery-text-color: #757575;
    $title-text-color: #212121;
    $page-color: #FFFFFF;
    $section-color: #2F303A;
    $logo-header-color: #000000;
    $team-section-color: #F5F4FA;
    $connect-color: rgba(255, 255, 255, 0.6);
    $links-stroke-color: #AFB1B8;
    $footer-icon-color: rgba(255, 255, 255, 0.1);

    
   